:root{
    --fontLogo: Verdana, Geneva, Tahoma, sans-serif;
    --corLogo: #860197;
    
}
*{
    margin: 0;
    padding: 0;
}
body{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    height: 450px;
    background: url('../img/fundo.jpg');
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}
header .container{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header .logo{
    margin-top: 5px;
    color: var(--corLogo);
    font-family: var(--fontLogo);
    font-size: 30px;
    text-shadow: 2px -2px 3px rgb(230, 221, 233);
}
header .logo:hover{
    text-shadow: 2px -2px 10px rgba(230, 221, 233, 0.979);
    transition: .3s ease all;
}
header nav a{
    margin-right: 10px;
   color: var(--corLogo);
    text-decoration: none;
    font-family: fantasy;
    text-shadow: 2px -1px 3px rgba(248, 247, 247, 0.788);
    font-size: 20px;
    transition: .5s ease all;
    
}
header nav a:hover{
    color: rgba(240, 6, 57, 0.644);
    text-shadow: 2px 1px 3px rgb(230, 221, 233);
    transition: .2s ease all;

}
.livro-principal{
    margin-bottom: 20px;
    height: 470px;
    background: linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.60)100%), url('../img/harry.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}
.livro-principal .descricao{
    margin-top: 5px;
    margin-bottom: 15px;


}
.livro-principal .titulo{
    margin-top: 15%;
    font-size: 49px;
    text-shadow: 2px -2px 2px rgba(8, 8, 8, 0.541);
}
.livro-principal .titulo:hover{
    text-shadow: 12px -20px 2px rgba(8, 8, 8, 0.651);
    transition: .2s ease all;
}
.botao{
    color: rgba(231, 229, 231, 0.6);
    background-color: rgba(190, 24, 223, 0.6);
    border: none;
    width: 200px;
    padding: 10px 10px;
    margin-right: 15px;
    border-radius: 20px;
    cursor: pointer;
}
.botao:hover{
    transition: .2s ease all;
    font-size: 12px;
    color: rgba(231, 229, 231, 0.6);
    background-color: rgba(245, 81, 81, 0.6);
    text-shadow: 1px -1px 3px rgba(10, 5, 9, 0.849);
    transition: .2s ease all;
}
.box-book{
    height: 300px;
    width: 100%;
    display: block;
    cursor: pointer;
    border-radius: 30px;
    
}
.box-book:hover{
    transition: .2s ease all;
    bottom: 20%;
    height: 303px;
    width: 10%;  
    border-radius: 0px;
}
.categoria{
    margin-bottom: 10px;
    margin: 20px 20px;
    border-radius: 50px;
    text-align: center;
    font-family: fantasy;
    font-size: 20px;
    color: rgba(233, 233, 233, 0.904);
    text-shadow: 2px -2px 1px var(--corLogo);
    background-color: rgba(0, 0, 0, 0.678);
    transition: .2s ease all;
    
}
.categoria:hover{
    border-radius: 55px;
    font-size: 25px;
    color: rgba(240, 0, 188, 0.904);
    text-shadow: 2px -2px 3px rgb(238, 238, 238);
    background-color: rgba(0, 0, 0, 0.678);
    transition: .2s ease all;
}